<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url('<%= image_path('bg-01.jpg') %>');">
        <span class="login100-form-title-1">
          Sign In
        </span>
      </div>

    <a class="btn btn-block btn-social btn-dropbox" style="font-size: 24px;" href="<%= auth_path %>">
        <span class="fa fa-dropbox"></span> Sign in with Dropbox
      </a>

    </div>
  </div>
</div>
